body{
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 150%;
  background-color: rgb(211, 151, 235);
  text-align: center;
}

body li{
  display: inline-block;
  width: 27%;
  text-align: center;
  height: 100px;
  background-color: lightgray;
  line-height: 100px;
}

body img {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  height: 25%;
  border-radius: 5%;
  margin-top: 1%;
}

body main p {
  display: inline-block;
  
  text-align: center;
 
  background-color: rgb(245, 145, 223);
  line-height: 65%px;
}